# Dependencies
node_modules/
.npm

# Vercel
.vercel

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.production
